<a href="https://colab.research.google.com/github/armandoh2/ejerciciopandas/blob/main/ejercicio_pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

print("EJERCICIO 4")
print("Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla asignada")
print("")

datos = {'Mes':['septiembre', 'octubre', 'noviembre', 'diciembre'], 'Ventas':[80500, 90000, 98000, 100000], 'Gastos':[30000, 29400, 13100, 40700]}
contabilidad = pd.DataFrame(datos)
print(contabilidad)

print("")

EJERCICIO 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla asignada

          Mes  Ventas  Gastos
0  septiembre   80500   30000
1     octubre   90000   29400
2   noviembre   98000   13100
3   diciembre  100000   40700